body {
    background-color: lightcyan;
  }
  
  h1 {
    color: darkblue;
    text-align: left;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  .text{
    text-decoration: none;
    font-family: verdana;
    font-size: 20px;
  }
  .tinyText{
    text-decoration: none;
    font-family: verdana;
    font-size: 10px;
    line-height: 0.2;
  }
  a:visited{
    color: darkblue;
    text-decoration: none;
  }
  a{
    color: darkblue;
    text-decoration: none;
  }
  .box {
  border: 5px solid green;
  padding: 10px;
  margin: 10px;
  height: auto;
  }
  .image{
  float: right;
  padding: 10px;
  margin: 10px;
  }
  .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
    width:fit-content;

}

li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #33b5e5;
  color: #ffffff;
  box-sizing: border-box;
  width:fit-content;
}

