body {
    background-color: lightcyan;
  }
  
  h1 {
    color: darkblue;
    text-align: left;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  .box {
  border: 5px solid green;
  padding: 10px;
  margin: 10px;
  height: auto;
  }
  .image{
  float: left;
  padding: 10px;
  margin: 10px;
  }
  .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
