:root {
  --scale: calc(3/4);
}
/* Default classes */
body {
    all:unset;
    background-color: #f4f4f4;
}

.loading {
    font-size: calc(22px * var(--scale));
    text-align: left;
    margin-left: calc(20px * var(--scale));
}

a {
    text-decoration: none
}

h1 {  
    font-weight: bold;
    font-size: calc(50px * var(--scale));
    text-align: center;
    margin-bottom: 10px;
}

* {
    font-family: 'Verdana', sans-serif;
    margin: 0px;
    color: black;
}
h2 {
    font-size: calc(22px * var(--scale));
    color: black;
    margin: calc(10px * var(--scale));
    margin-left: calc(10px * var(--scale));
    /*text-transform: uppercase;*/
    font-weight: bold;
}
button {
  all: unset;
  display: block;
}
/* Current Energy Available */
.section {
    background-color: #eaeaea;
    padding: calc(12px * var(--scale));
    border-radius: 10%;
    width: calc(135px * var(--scale));
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: calc(26px * var(--scale));

}    
.circle {
    border-radius: 50%;
    width: calc(102px * var(--scale));
    height: calc(102px * var(--scale));
    font-size: calc(50px * var(--scale));   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(8px * var(--scale));
}        

/* Hour options */
.hour {
    background-color: #eaeaea;
    padding: calc(12px * var(--scale));
    border-radius: 10%;
    width: calc(120px * var(--scale));
    aspect-ratio: 120/140;    
    margin: calc(4.5px * var(--scale));
    display: inline-flex;
    font-size: calc(26px * var(--scale));
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: calc(16px * var(--scale));
}    
.first-hour {
    margin-left: calc(14px * var(--scale));
}    
.hour-container{
    overflow: auto;
    white-space: nowrap;
}
.small-circle {
    border-radius: 50%;
    width: calc(60px * var(--scale));
    height: calc(60px * var(--scale));
    font-size: calc(26px * var(--scale));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(12px * var(--scale));
}    
.price-tag{
    width: calc(22px * var(--scale));
    height: calc(22px * var(--scale));
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}    
.arrow-box{
    padding: calc(12px * var(--scale));
    width: calc(40px * var(--scale));
    aspect-ratio: 40/140;    
    margin: calc(4.5px * var(--scale));
    display: inline-flex;
    font-size: calc(22px * var(--scale));
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: calc(16px * var(--scale));
    vertical-align: top;
    position: relative;
}
.next{
    background-image: linear-gradient(to right, rgba(244, 244, 244, 0), rgba(244, 244, 244, 50),rgba(244, 244, 244, 100),rgba(244, 244, 244, 100), rgba(244, 244, 244, 100));
    margin-left: calc(-30px * var(--scale));
}
.next-arrow{
    width: calc(40px * var(--scale));
    height: auto;
}

.back-arrow{
    width: calc(40px * var(--scale));
    height: auto;
    transform: scaleX(-1);
}
.back{
    background-image: linear-gradient(to left, rgba(244, 244, 244, 0), rgba(244, 244, 244, 50),rgba(244, 244, 244, 100),rgba(244, 244, 244, 100), rgba(244, 244, 244, 100));
    margin-right: calc(-30px * var(--scale));
}


/*Day Options*/
.day-container{
    overflow: auto;
    white-space: nowrap;
}
.day {
    background-color: #eaeaea;
    padding: calc(18px * var(--scale));
    border-radius: 10%;
    width: calc(176px * var(--scale));
    aspect-ratio: 176/230;    
    margin: calc(5.5px * var(--scale));
    display: inline-flex;
    font-size: calc(30px * var(--scale));
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: calc(16px * var(--scale));
    box-shadow: 0px 0px calc(10px * var(--scale)) 0px rgba(0, 0, 0, 0.5);
} 
.first-day {
    margin-left: calc(14px * var(--scale));
}  
.day-circle {
    border-radius: 50%;
    width: calc(102px * var(--scale));
    height: calc(102px * var(--scale));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(20px * var(--scale));
    font-size: calc(48px * var(--scale));
}  
.day-high{
    font-size: calc(36px * var(--scale));
    font-weight: bold;
    float: left;
    display: inline;
}
.day-low{
    font-size: calc(30px * var(--scale));
    font-weight: normal;
    float: right;
    display: inline;
}

/*General*/
.selected {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}    
/* Footer */
.footer {
    width: calc(544px * var(--scale));
    max-width: 100%;
    font-size: calc(14px * var(--scale));
    align-self: center;
    text-align: justify ;
    text-align-last: center;
    margin: 0 auto;
    margin-top: calc(16px * var(--scale));
}
/*Header*/
.box-text-indent {
    width: 102px;
    margin: 3px;
    height: 30px;
}

.blue-button {
    background-color: lightskyblue;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    color: darkblue;
    transition-duration: 1s;
    display: inline-block;
}

.hidden {
    display: none;
}

select {
    border-width: 0px;
    font-size: 17px;
    /* Set font size */
    background-color: rgba(0,0,0,0);
    /* Set background color */
    color: darkslategrey;
    /* Set text color */
    width: 100%;
    margin-top: -10px;
}

.sticky-header {
    position: sticky;
    top: 0;
    max-width: 100%;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 10px;
    text-align: center;
    display: flex;
    z-index: 0;
}

.reminder-background {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    z-index: 2;
    left: 0%;
    top: 0%;
}
.reminder-container {
    width: 100%;
    height: 100%;
    position: fixed;
    /* display: flex; */
    display: none;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    left: 0%;
    top: 0%;
}
.reminder-box {
    background-color: #f4f4f4;
    padding: calc(12px * var(--scale));
    border-radius: calc(30px * var(--scale));
    /* width: calc(300px * var(--scale)); */
    /* margin: auto; */
    width: calc(540px * var(--scale));
    min-height: calc(300px * var(--scale));
    z-index: 4;
    font-size: calc(40px * var(--scale));
    display: inline-flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: calc(90px * var(--scale));
    max-width: 90%;
}
.reminder-circle {
    border-radius: 50%;
    width: calc(102px * var(--scale));
    height: calc(102px * var(--scale));
    font-size: calc(50px * var(--scale));   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-button {
    border-style: solid;
    border-color: #a3a3a3;
    background-color: #a3a3a3;
    border-radius: calc(10px * var(--scale));
    width: calc(300px * var(--scale));
    height: calc(45px * var(--scale));
    font-size: calc(24px * var(--scale));   
    margin-top: calc(8px * var(--scale));
    color: #f4f4f4;
    padding: calc(0px * var(--scale)) calc(15px * var(--scale));
    text-decoration: none;
    display: block;
    border-width: calc(4px * var(--scale));
}


.dropdown-content {
    display: none;
    font-size: calc(24px * var(--scale));   
    border-radius: calc(10px * var(--scale));
    position: absolute;
    background-color: #f4f4f4;
    width: calc(300px * var(--scale));
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: calc(10px * var(--scale));
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: calc(20px * var(--scale)) calc(15px * var(--scale));
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;    border-radius: calc(10px * var(--scale));
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.reminder-button-container {
    display: inline-flex;
    width: 100%;
}
.reminder-button {
    border-radius: calc(10px * var(--scale));
    height: calc(45px * var(--scale));
    font-size: calc(24px * var(--scale));   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin-top: calc(8px * var(--scale));
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border-width: calc(4px * var(--scale));
}
.reminder-cancel {
    border-style: solid;
    border-color: #a3a3a3;
    background-color: #f4f4f4;
    color: #a3a3a3;
    min-width: 30%;
}
.reminder-confirm {
    border-style: solid;
    border-color: #159709;
    background-color: #f4f4f4;
    color:  #159709;
    min-width: 55%;
}
.reminder-confirm-selected {
    border-style: solid;
    border-color: #159709;
    background-color:#159709;
    color:  #f4f4f4;
    min-width: 55%;
}