:root {
  --scale: calc(1/17);
}
body {
    background-color: #F4F4F4;
}


a {
    text-decoration: none
}

h1 {  
    font-weight: bold;
    font-size: calc(50vw * var(--scale));
    text-align: center;
    margin-bottom: 10px;
}

* {
    font-family: 'arial', sans-serif;
    margin: 0px;
    color: black;
}

.section {
    background-color: #e3e3e3;
    padding: 1%;
    border-radius: 10%;
    width: calc(128vw * var(--scale));
    aspect-ratio: 1/1;    
    margin:auto;
}

.hour {
    --scalar: value;
    background-color: #e3e3e3;
    padding: calc(12vw * var(--scale));
    border-radius: 10%;
    width: calc(102vw * var(--scale));
    aspect-ratio: 102/128;    
    margin: calc(4.5vw * var(--scale));
    display: inline-flex;
    font-size: calc(22vw * var(--scale));
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: calc(16vw * var(--scale));
}
.first-hour {
    margin-left: calc(14vw * var(--scale));
}
.selected {
    background-color: #F4F4F4;
}
.circle {
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1/1;
    font-size: calc(50vw * var(--scale));   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.small-circle {
    border-radius: 50%;
    width: calc(46vw * var(--scale));
    height: calc(46vw * var(--scale));
    font-size: calc(22vw * var(--scale));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(8vw * var(--scale));
}
.small-text{
    font-size: calc(22vw * var(--scale));
    line-height: 1vw;
}

h2 {
    font-size: 10px;
    color: black;
    margin: 10px;
    margin-left: 20px;
    /*text-transform: uppercase;*/
    font-weight: bold;
}




.box-text-indent {
    width: 102px;
    margin: 3px;
    height: 30px;
}


.blue-button {
    background-color: lightskyblue;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    color: darkblue;
    transition-duration: 1s;
    display: inline-block;
}


.hidden {
    display: none;
}



select {
    border-width: 0px;
    font-size: 17px;
    /* Set font size */
    background-color: rgba(0,0,0,0);
    /* Set background color */
    color: darkslategrey;
    /* Set text color */
    width: 100%;
    margin-top: -10px;
}




.selectButton {
    border-radius: 30px;
    border-width: 0px;
    background-color: palegreen;
    padding: 20px;
    margin: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



.sticky-header {
    position: sticky;
    top: 0;
    max-width: 100%;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 10px;
    text-align: center;
    display: flex;
    z-index: 1;
}

