:root {
  --scale: calc(1/17);
}
/* Default classes */
body {
    background-color: #f4f4f4;
}


a {
    text-decoration: none
}

h1 {  
    font-weight: bold;
    font-size: calc(50vw * var(--scale));
    text-align: center;
    margin-bottom: 10px;
}

* {
    font-family: 'Verdana', sans-serif;
    margin: 0px;
    color: black;
}
h2 {
    font-size: calc(22vw * var(--scale));
    color: black;
    margin: calc(10vw * var(--scale));
    margin-left: calc(10vw * var(--scale));
    /*text-transform: uppercase;*/
    font-weight: bold;
}
button {
  all: unset;
  display: block;
}
/* Current Energy Available */
.section {
    background-color: #eaeaea;
    padding: calc(12vw * var(--scale));
    border-radius: 10%;
    width: calc(128vw * var(--scale));
    aspect-ratio: 1/1;    
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: calc(30vw * var(--scale));

}    
.circle {
    border-radius: 50%;
    width: 80%;
    aspect-ratio: 1/1;
    font-size: calc(50vw * var(--scale));   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        margin: calc(8vw * var(--scale));
}        

/* Hour options */
.hour {
    background-color: #eaeaea;
    padding: calc(12vw * var(--scale));
    border-radius: 10%;
    width: calc(120vw * var(--scale));
    aspect-ratio: 120/140;    
    margin: calc(4.5vw * var(--scale));
    display: inline-flex;
    font-size: calc(26vw * var(--scale));
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: calc(16vw * var(--scale));
}    
.first-hour {
    margin-left: calc(14vw * var(--scale));
}    

.small-circle {
    border-radius: 50%;
    width: calc(60vw * var(--scale));
    height: calc(60vw * var(--scale));
    font-size: calc(26vw * var(--scale));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(12vw * var(--scale));
}    
.price-tag{
    width: calc(22vw * var(--scale));
    height: calc(22vw * var(--scale));
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}    
.arrow-box{
    padding: calc(12vw * var(--scale));
    width: calc(40vw * var(--scale));
    aspect-ratio: 40/140;    
    margin: calc(4.5vw * var(--scale));
    display: inline-flex;
    font-size: calc(22vw * var(--scale));
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: calc(16vw * var(--scale));
    vertical-align: top;
    position: relative;
}
.next{
    background-image: linear-gradient(to right, rgba(244, 244, 244, 0), rgba(244, 244, 244, 50),rgba(244, 244, 244, 100),rgba(244, 244, 244, 100), rgba(244, 244, 244, 100));
    margin-left: calc(-30vw * var(--scale));
}
.next-arrow{
    width: calc(40vw * var(--scale));
    height: auto;
}

.back-arrow{
    width: calc(40vw * var(--scale));
    height: auto;
    transform: scaleX(-1);
}
.back{
    background-image: linear-gradient(to left, rgba(244, 244, 244, 0), rgba(244, 244, 244, 50),rgba(244, 244, 244, 100),rgba(244, 244, 244, 100), rgba(244, 244, 244, 100));
    margin-right: calc(-30vw * var(--scale));
}


/*Day Options*/
.day {
    background-color: #eaeaea;
    padding: calc(18vw * var(--scale));
    border-radius: 10%;
    width: calc(176vw * var(--scale));
    aspect-ratio: 176/230;    
    margin: calc(5.5vw * var(--scale));
    display: inline-flex;
    font-size: calc(30vw * var(--scale));
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: calc(16vw * var(--scale));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
} 
.first-day {
    margin-left: calc(14vw * var(--scale));
}  
.day-circle {
    border-radius: 50%;
    width: calc(102vw * var(--scale));
    height: calc(102vw * var(--scale));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(20vw * var(--scale));
    font-size: calc(48vw * var(--scale));
}  
.day-high{
    font-size: calc(36vw * var(--scale));
    font-weight: bold;
    float: left;
    display: inline;
}
.day-low{
    font-size: calc(30vw * var(--scale));
    font-weight: normal;
    float: right;
    display: inline;
}

/*General*/
.selected {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}    
/* Footer */
.footer {
    width: calc(544vw * var(--scale));
    font-size: calc(14vw * var(--scale));
    align-self: center;
    justify-self: center;
    text-align: justify ;
    text-align-last: center;
    margin-top: calc(16vw * var(--scale));
}
/*Header*/
.box-text-indent {
    width: 102px;
    margin: 3px;
    height: 30px;
}

.blue-button {
    background-color: lightskyblue;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    color: darkblue;
    transition-duration: 1s;
    display: inline-block;
}

.hidden {
    display: none;
}

select {
    border-width: 0px;
    font-size: 17px;
    /* Set font size */
    background-color: rgba(0,0,0,0);
    /* Set background color */
    color: darkslategrey;
    /* Set text color */
    width: 100%;
    margin-top: -10px;
}

.sticky-header {
    position: sticky;
    top: 0;
    max-width: 100%;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 10px;
    text-align: center;
    display: flex;
    z-index: 1;
}

